<div class="container" id="Private-questions">
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">هل شارك المريض فى التعامل مع حيوان خلال الشهر السابق لمرضه؟</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="AnimalDeal"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">هل حدث اجهاض أو نفوق لأحد الحيوانات المتعامل معها؟</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="AbortionAnimal"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">جاموس</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Buffalo"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">جمل</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Camel"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">بقر</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Cow"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">ماعز</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Goat"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">غنم</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Sheep"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">حيوانات أخري</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="OtherAnimals"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">لبن حليب غير معامل حرارياً</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Milk"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">جبن أبيض قريش</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Qureish"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">أنواع أخرى من الجبن</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="OtherCheese"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">أيس كريم من الباعة الجائلين</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Ice"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">أنواع أخرى من منتجات الألبان</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="OtherDairy"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">هل تم التعرض لطعم البروسيلا للحيوانات أو ميكروب البروسيلا بالمعامل خلال الشهر السابق لظهور المرض؟</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Taste"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">هل توجد حالات تعاني من نفس الأعرض بالمنزل أو منطقة السكن؟</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="CasesSuffer"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">التاريخ</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="Date"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">تاريخ الاستقصاء</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="TxtDate"></span>
        </div>
    </div>
    <div class="row g-0 ">
        <div class="col-9">
            <span class="lbl">المراقب الصحى</span>
        </div>
        <div class="col-3">
            <span class="val" data-field="txtOH"></span>
        </div>
    </div>
</div>